.field_error input {
  background-color: yellow;
}
.error_message {
  color: red;
}

#container {
  margin:0 auto;
  margin-top:10%;
  border:1px solid black;
  max-width:550px;
  text-align:center;
}
